<div class="input-group">
  <input id="toAddress" placeholder="" type="text" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" #to required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>To</label>
</div>

<div class="input-group">
  <input id="fromAddress" placeholder="" type="text" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" #from required>
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>From</label>
</div>

