<ion-content>
  <app-google-map [addMarker]="sendMarker"></app-google-map>

  <!-- Reporting Button -->
  <ion-fab id="reporting" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="report()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Crime Button -->
  <ion-fab id="crime" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="addMarker()" color="danger">
      <ion-icon name="logo-freebsd-devil"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Light Button -->
  <ion-fab id="light" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="flashlight"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Crowd Button -->
  <ion-fab id="crowd" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="people"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
