<ion-header>
  <ion-toolbar>
    <ion-icon class="orangeWalk" name="walk"></ion-icon>
    <ion-icon class="blueWalk" name="walk"></ion-icon>
  </ion-toolbar>
</ion-header>

<agm-map
  [style.height.px]="height"
  [latitude]="startingLatitude"
  [longitude]="startingLongitude"
>
  <agm-direction
    *ngIf="waypoints"
    [origin]="origin"
    [destination]="destination"
    [waypoints]="waypoints"
    travelMode="WALKING"
    (onResponse)="onResponse($event)"
  ></agm-direction>
  <agm-direction
    [origin]="origin"
    [destination]="destination"
    travelMode="WALKING"
    (onResponse)="onResponse($event)"
    [renderOptions]="dir.renderOptions"
  ></agm-direction>
  <agm-rectangle
    [east] = "-73.5089292023"
    [west] = "-73.849258276"
    [north] = "45.6931206483"
    [south] = "45.4168499734"
    [fillColor] = "'red'"
  >
  </agm-rectangle>
</agm-map>
