.header-md{
    text-align: center;
}

.walkTime{
    font-size: 22px;
}

#orangeWalk {
    margin-right: 120px;
    color: orange;
}

#blueWalk {
    color: blue;
}

ion-label{
    font-weight: bold;
}
