<ion-header>
  <ion-toolbar>
    {{ orangeWalkDistance }}
    <ion-icon class="orangeWalk" name="walk"></ion-icon>
    {{ blueWalkDistance }}
    <ion-icon class="blueWalk" name="walk"></ion-icon>
  </ion-toolbar>
</ion-header>

<agm-map
  [style.height.px]="height"
  [latitude]="startingLatitude"
  [longitude]="startingLongitude"
>
  <agm-marker
    *ngIf="addMarker > 0"
    [latitude]="startingLatitude"
    [longitude]="startingLongitude"
    [iconUrl]="icon"
  ></agm-marker>
  <!-- <agm-direction
    *ngIf="waypoints"
    [origin]="origin"
    [destination]="destination"
    [waypoints]="waypoints"
    travelMode="WALKING"
    (onResponse)="onResponse($event)"
  ></agm-direction>
  <agm-direction
    [origin]="origin"
    [destination]="destination"
    travelMode="WALKING"
    (onResponse)="onResponse($event)"
    [renderOptions]="dir.renderOptions"
  ></agm-direction> -->
  <!-- <agm-circle
    *ngFor="let circle of circles"
    [latitude]="circle.latitude"
    [longitude]="circle.longitude"
    [fillColor]="'red'"
    [radius]="200"
    [fillOpacity]="0.25"
  >
  </agm-circle> -->
  <agm-circle
    *ngFor="let circle of crimeCircles"
    [latitude]="circle.LATITUDE"
    [longitude]="circle.LONGITUDE"
    [fillColor]="'red'"
    [radius]="200"
    [fillOpacity]="0.25"
  >
  </agm-circle>
  <agm-circle
    *ngFor="let circle of cameraCircles"
    [latitude]="circle.latitude"
    [longitude]="circle.longitude"
    [fillColor]="'green'"
    [radius]="200"
    [fillOpacity]="0.25"
  >
  </agm-circle>
</agm-map>
