<ion-header>
  <ion-toolbar>
    <ion-title>Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Location and Destination Fields -->
<ion-content>
  <app-google-places></app-google-places>
  
  <!-- Favourite List -->
  <ion-input class="listTitle" value="Favourite" readonly></ion-input>

  <ion-list>
    <ion-item-sliding *ngFor="let favourite of favouriteList">
      <ion-item >{{favourite.name}}</ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="removeFav(favourite.name)">Remove <ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="navFav(favourite)"><ion-icon name="navigate"></ion-icon> Navigate</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>  

  <!-- History List -->
  <ion-input class="listTitle" value="History" readonly></ion-input>

  <ion-list>
    <ion-item-sliding *ngFor="let history of historyList">
      <ion-item >{{history.name}}</ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="removeHist(history.name)">Remove <ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="navHist(history)"><ion-icon name="navigate"></ion-icon> Navigate</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 

</ion-content>
