<ion-header>
  <ion-toolbar>
    <ion-title>Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Location and Destination Fields -->
<ion-content>
  <ion-item>
    <ion-label position="floating">To</ion-label>
    <ion-input clearInput></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">From</ion-label>
    <ion-input clearInput></ion-input>
  </ion-item>

  <!-- Navigation Button -->
  <ion-button id="navigateButton" shape="round">
    <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
  </ion-button>

  <!-- History List -->
  <ion-input id="historyListTitle" value="History" readonly></ion-input>

  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Place 1</ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="remove(item)">Remove</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="nav(item)">Navigate</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Place 2</ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="remove(item)">Remove</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="nav(item)">Navigate</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
